* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
}
p {
  line-height: 1.5;
  color: var(--Grayish-Blue);
  margin-bottom: 15px;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--Dark-Grayish-Blue);
}
h3 {
  color: var(--Dark-Grayish-Blue);
  line-height: 1.2;
  margin-bottom: 10px;
}
header {
  text-align: center;
  height: 100vh;
  padding: 100px 25%;
  background: url(./images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
header .logo {
  margin-bottom: 30px;
}
.text-section {
  text-align: center;
  padding: 100px 25% 25px;
}
header p {
  margin-bottom: 25px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.btn-container button {
  padding: 13px 26px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 30px;
  border: none;
}
button {
  cursor: pointer;
}
.btn-ios {
  transition: all 0.45s ease;

  background-color: var(--Strong-Cyan);
  box-shadow: 5px 0 30px rgba(38, 186, 164, 0.73);
}
.btn-ios:hover,
.btn-mac:hover {
  opacity: 0.85;
  transition: all 0.45s ease;
}
.btn-mac {
  transition: all 0.45s ease;

  background-color: var(--Light-Blue);
  box-shadow: 3px 0 20px rgba(97, 115, 255, 0.73);
}
.grid-w-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 10%;
  gap: 70px;
  align-items: center;
}
.grid-w-img img {
  position: relative;
  left: -50%;
  width: 150%;
}
.access {
  padding-inline: 10%;
  text-align: center;
}
.access img {
  width: 100%;
}
/* Supercharge section */
.container {
  text-align: center;
  padding-inline: 10%;
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
}
.icon-grid {
  margin-bottom: 1.5rem;
}
h3 {
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}
.brands {
  padding-block: 10%;
  display: flex;
  padding-inline: 10%;
  gap: 1.4rem;
  align-items: center;
  justify-content: space-between;
}

.brands img {
  height: 30px;
  width: auto;
}
/* cta styles */
.cta {
  margin-bottom: 7rem;
}

/* footer styles */
.footer {
  background-color: var(--Grayish-Blue);
  background-color: #f0f0f0;
  padding-inline: 10%;
  padding-block: 1.5rem;
  color: var(--Dark-Grayish-Blue);
  display: grid;
  gap: 2.5rem;
  align-items: start;
  grid-template-columns: 1fr 1.5fr 1.5fr 2.5fr 1fr;
}
.footer .logo img {
  width: 50%;
}
.footerList li {
  margin-bottom: 0.5rem;
}

/* media queries */
@media (max-width: 830px) {
  .brands img {
    height: 20px;
  }
}
@media (max-width: 512px) {
  .brands img {
    height: 10px;
  }
  .brands {
    gap: 1rem;
  }
}
